.page {
  padding: 0 20px 20px 20px;
  background: #f7f8fa;
  min-height: 100vh;
  background-color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
}

thead {
  text-align: left;
}

th, td {
  padding: 12px 14px;
  border-bottom: 1px solid #eee;
}

.productName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #ddd;
  border-radius: 6px;
}

.subText {
  font-size: 12px;
  color: #888;
}

.goodRating {
  color: #2ecc71;
  font-weight: 600;
}

.badRating {
  color: #e74c3c;
  font-weight: 600;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bars {
  width: 14px;
  height: 10px;
  background: repeating-linear-gradient(
    to right,
    #bbb,
    #bbb 2px,
    transparent 2px,
    transparent 4px
  );
}

.addBtn {
  background: #2f6bff;
  color: white;
  border: none;
  border-radius: 7px;
  width: 26px;
  height: 15px;
  cursor: pointer;
}

.moreBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #d1d5db;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #9ca3af;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
}

.pageWraper{
  padding: 20px;
  background: #f7f8fa;
  min-height: 100vh
}