.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f7f7f7;
  text-align: center;
}

.title {
  font-size: 80px;
  margin: 0;
  color: #ff4d4f;
}

.text {
  font-size: 20px;
  margin: 10px 0 20px;
  color: #555;
}

.button {
  padding: 10px 20px;
  background-color: #1890ff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.button:hover {
  background-color: #40a9ff;
}